<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о студенте</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/character.css">
</head>
<body>
    <div class="container2">
        <div id="leftcon">
        </div>
        <div id="midcon">
            <img src="/static/images/{{ character.name }}.webp" alt="Фото студента" width="20%">
            <div class="student-profile">
                <div class="student-info">
                    <h1> {{ character.name }}</h1>
                    <p>{{character.content}}</p>
                </div>
                <div>Hiiiii</div>
            </div>
            <a href="/main" class="back-link">Главная страница</a>
        </div>
        <div id="rightcon">
            Hiiiii
        </div>
    </div>




    <div class='container'>
        text
    </div>
    <div class="container2">
        <div id="con1">
            Привет
        </div>
        <div id="con2">
            Пока
        </div>
        <div id="con3">wwwwwwww</div>
    </div>
    <div class="container2">
        Привет
    </div>
</body>
</html>